<!DOCTYPE html>
<html>
  <head>
    <title>Dealership Central!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Dealership Central</h1>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
